# 第3章 データの集まりをひとことでいうと？：代表値

## 09 データを平らに均（なら）す

### 平均値を求める

リスト3.1

In [1]:
import pandas as pd
data = {
    "Aクラス" : [82,89,93,85,76],
    "Bクラス" : [100,62,82,70,86]
}
df = pd.DataFrame(data)
df

   Aクラス  Bクラス
0    82   100
1    89    62
2    93    82
3    85    70
4    76    86

リスト3.2

In [2]:
print("Aクラス =", df["Aクラス"].mean())
print("Bクラス =", df["Bクラス"].mean())

Aクラス = 85.0
Bクラス = 80.0

## 代表値は、「データの比較」に使う

リスト3.3

In [3]:
print(df.mean())

Aクラス    85.0
Bクラス    80.0
dtype: float64

リスト3.4

In [4]:
print(df.iloc[0]["Aクラス"])
print(df["Aクラス"].mean())

82
85.0

## 10 平均値を代表といっていいの？

### 平均値を代表としていいか調べる

リスト3.5

In [5]:
import pandas as pd
data = {
    "予想価格" : [240,250,150,240,300,5000]
}
df = pd.DataFrame(data)
df

   予想価格
0   240
1   250
2   150
3   240
4   300
5  5000

リスト3.6

In [6]:
print(df.mean())

予想価格    1030.0
dtype: float64

リスト3.7

In [7]:
print(df.median())

予想価格    245.0
dtype: float64

リスト3.8

In [8]:
print(df.mode())

   予想価格
0   240

リスト3.9

In [9]:
import pandas as pd
data = {
    "予想価格" : [240,250,150,240,300]
}
df = pd.DataFrame(data)
print("平均値 =",df.mean())
print("中央値 =",df.median())
print("最頻値 =",df.mode())

平均値 = 予想価格    236.0
dtype: float64
中央値 = 予想価格    240.0
dtype: float64
最頻値 =    予想価格
0   240

## 11 平均値が同じなら、同じといっていいの？

リスト3.10

In [10]:
import pandas as pd
data = {
    "A案" : [1,10,1,10,1,10,1,10],
    "B案" : [5,5,5,5,6,6,6,6],
    "C案" : [1,2,3,4,7,8,9,10]
}
df = pd.DataFrame(data)
df

   A案  B案  C案
0   1   5   1
1  10   5   2
2   1   5   3
3  10   5   4
4   1   6   7
5  10   6   8
6   1   6   9
7  10   6  10

リスト3.11

In [11]:
print(df.mean())

A案    5.5
B案    5.5
C案    5.5
dtype: float64

リスト3.12

In [12]:
print(df.median())

A案    5.5
B案    5.5
C案    5.5
dtype: float64

リスト3.13

In [13]:
print(df.mode())

     A案   B案  C案
0   1.0  5.0   1
1  10.0  6.0   2
2   NaN  NaN   3
3   NaN  NaN   4
4   NaN  NaN   7
5   NaN  NaN   8
6   NaN  NaN   9
7   NaN  NaN  10

リスト3.14

In [14]:
bins=[1,3,5,7,9,11]
cut = pd.cut(df["A案"], bins=bins, right=False)
cut.value_counts(sort=False)

[1, 3)     4
[3, 5)     0
[5, 7)     0
[7, 9)     0
[9, 11)    4
Name: A案, dtype: int64

リスト3.15

In [15]:
cut = pd.cut(df["B案"], bins=bins, right=False)
print(cut.value_counts(sort=False))

[1, 3)     0
[3, 5)     0
[5, 7)     8
[7, 9)     0
[9, 11)    0
Name: B案, dtype: int64

リスト3.16

In [16]:
cut = pd.cut(df["C案"], bins=bins, right=False)
print(cut.value_counts(sort=False))

[1, 3)     2
[3, 5)     2
[5, 7)     0
[7, 9)     2
[9, 11)    2
Name: C案, dtype: int64